.popups__overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.window__container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  display: none;
  padding-bottom: 30px;

  .popups__overlay {
    display: none;
  }
}

.window__container {

  .popup {
    width: 435px;
    padding-bottom: 0;
    background: #FAFAFA;
    border: 1px solid #D5DFE4;
    border-radius: 10px;
  }
  .popup__title {
    text-align: left;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  .agreeLabel {
    margin-top: 25px;

    .agree__text {
      font-size: 12px;
      line-height: 14px;
    }
  }

  .label__popup {
    margin-top: 24px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.popup__inner {
  width: 100%;
  position: static !important;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: auto;
}

.popup {
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 73, 129, 0.1);
  border-radius: 10px;
  padding-bottom: 30px;
  width: 350px;
  position: relative;
}

.popup__title {
  line-height: 28px;
  color: #192229;
  font-size: 24px;
  text-align: center;
}

.popup__close {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.popup__close_reg {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  top: -14px;
  right: -14px;
  z-index: 5;
}

.popup__content {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.popup__content::-webkit-scrollbar-button {
  background-repeat:no-repeat;
  width:6px;
  height:0px;
}

.popup__content::-webkit-scrollbar-track {
  background-color:#F1F1F1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.popup__content::-webkit-scrollbar-thumb {
  background-color:#C1C1C1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.popup__content::-webkit-scrollbar-thumb:hover{
  background-color:#C1C1C1;
}

.popup__content::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:6px;
  height:0px
}

.popup__content::-webkit-scrollbar{
  width: 6px;
}




.popup {
  width: 430px;
  padding-bottom: 0;
}

.popup__content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0;
}

.label__popup {
  justify-content: space-between;
  margin-top: 20px;

  &.errorInput {
    .popup__input {
      border-color: #FF0000;
    }
    .error__text {
      display: block;
      color: #FF0000 !important;
    }
    .inputFalse {
      border-color: #FF0000;
    }
    textarea {
      border-color: #FF0000;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}

.input__title {
  font-size: 16px;
  line-height: 19px;
  color: #192229;
  margin-bottom: 8px;
}

.popup__input {
  background: #FFFFFF !important;
  border: 1px solid #D5DFE4;
  border-radius: 5px;
  height: 36px;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 17px;
  color: #192229 !important;
}

.gorget__pass {
  font-size: 14px;
  line-height: 17px;
  color: #3897F0;
}

.popup__bottom {
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #F8F8F8;
  height: 76px;
  border-radius: 0 0 10px 10px;
}

.popup__submit {
  width: 120px;
  height: 36px;
  background: #3897F0;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}

button {
  border: none !important;
  cursor: pointer;
}

.error__text {
  font-size: 12px;
  line-height: 14px;
  color: #FF0000;
  margin-top: 6px;
  width: 100%;
  display: none;
}





.startError {
  display: block;
  color: #6A7B83;
}

.agreeInput {
  display: none;
}

.agreeLabel {
  justify-content: space-between;
  
  &.checked {
    .inputFalse {
      color: #192229;
      background: #3897F0;
      border: 1px solid #3897F0;

      svg {
        opacity: 1;
      }
    }
  }
}

.inputFalse {
  width: 15px;
  height: 15px;
  border: 1px solid #B4BDC1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 10px;
  color: transparent;
  cursor: pointer;

  img {
    height: 12px;
  }
  svg {
    height: 10px;
    opacity: 0;
  }
}

.agree__text {
  width: calc(100% - 21px);
  font-size: 14px;
  line-height: 17px;
  color: #192229;

  a {
    color: #3897F0;
  }
}

.popup__submit-reg {
  width: 170px;
}



.popupTextarea {
  width: 100%;
  height: 326px;
  border: 1px solid #D5DFE4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  line-height: 17px;
  color: #000 !important;
  background-color: #fff;
}

.sum_of_pay {
  font-size: 24px;
  line-height: 28px;
  color: #192229;
  margin-top: 24px;
  margin-bottom: 30px;
}

.submit_pay {
  width: 100%;
  height: 44px;
  line-height: 41px;
  background: #3897F0;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:disabled {
  background-color: #FAFAFA !important;
}

textarea:disabled {
  background-color: #FAFAFA !important;
}

.submit_pay:disabled {
  background-color: #B4BDC1 !important;
}

.inputFalse.disabled {
  background: #F8F8F8 !important;
  border: 1px solid #D5DFE4 !important;
  border-radius: 3px;
  font-size: 0 !important;
  cursor: default;

  svg {
    opacity: 0 !important;
  }
}





.admin__handles {
  margin-bottom: 25px;
}

.admin__handle_container {
  width: 50%;
}

.admin__label {
  background: #FFFFFF;
  height: 36px;
  line-height: 34px;
  border: 1px solid #D5DFE4;
  text-align: center;
  color: #192229;
  cursor: pointer;
  display: block;

  &.handleOn {
    border-radius: 5px 0 0 5px;
  }
  &.handleOff {
    border-radius: 0 5px 5px 0;
    border-left: none;
  }
}

.adminInput {
  display: none;
}

.adminInput:checked {
  & ~ .admin__label {
    background: #3897F0;
    border: 1px solid #3897F0;
    color: #fff;
  }
}

.admin__content:first-child {
  padding-bottom: 50px;
  border-bottom: 1px solid #D5DFE4;
}

.submit_admin {
  width: 100%;
  height: 44px;
  line-height: 41px;
  background: #3897F0;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

.submit_autor {
  width: 100%;
  height: 44px;
  line-height: 41px;
  background: #3897F0;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}



.forgetPass__content {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 336px;
}

.submit_forget {
  width: 100%;
  height: 44px;
  line-height: 41px;
  background: #3897F0;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

.forgetLast {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #FAFAFA;
  display: none;
}

.backAuthor {
  font-size: 16px;
  text-align: center;
  color: #192229;
  width: 100%;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #D5DFE4;
  border-radius: 5px;
  line-height: 42px;
}


.popup_nav {
  padding-left: 45px;
  padding-top: 100px;
  max-width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  a {
    font-size: 16px;
    line-height: 24px;
    color: #3897F0;
    display: block;
  }
  span {
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    color: #6A7B83;
  }
}



@media screen and (max-width: 1170px) {
  .popup_nav {
    position: static;
    margin: 0 auto;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 433px;
  }
}


@media screen and (max-width: 500px) {
  .popup {
    width: calc(100% - 35px) !important;
  }
  .popup__content {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .popup__title {
    text-align: left;
  }
  .popup__content {
    min-height: auto;
  }
  .wrapper {
    min-height: calc(100vh - 42px) !important;
  }
  .popup_nav {
    padding-left: 15px;
  }
  .forgetPass__content {
    min-height: 249px;
    height: auto;
  }
  .popup__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 380px) {
  .window__container .popup__title {
    font-size: 23px;
  }
}


@media screen and (max-width: 360px) {
  .popup__title {
    font-size: 20px;
    line-height: 24px;
  }
  .popup__submit-reg {
    width: 130px;
    font-size: 12px;
  }
  .submit_forget {
    font-size: 14px;
  }
  //.popup__handle {
  //  height: 40px;
  //  line-height: 39px;
  //  font-size: 18px;
  //}
  //.popup__warning__text {
  //  font-size: 12px;
  //  line-height: 16px;
  //}
  //.popup__input {
  //  height: 32px;
  //  font-size: 12px !important;
  //}
  //.input__title {
  //  font-size: 14px;
  //  line-height: 17px;
  //  margin-bottom: 4px;
  //}
  //.popup__content {
  //  padding-top: 20px;
  //  padding-bottom: 20px;
  //}
  //.label__popup {
  //  margin-top: 15px;
  //}
  //.error__text {
  //  margin-top: 4px;
  //  font-size: 10px;
  //  line-height: 13px;
  //}
  //.popup__bottom {
  //  height: 50px;
  //
  //  button {
  //    height: 32px !important;
  //    line-height: 31px !important;
  //  }
  //}
  //.agree__text {
  //  font-size: 12px;
  //}
  //.back__popup {
  //  height: 32px;
  //  line-height: 30px;
  //}
  //.popup__warning {
  //  padding-top: 15px;
  //  padding-bottom: 15px;
  //}
  //.popup__submit-reg {
  //  font-size: 11px;
  //}
}